@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
    var defaultImage = Url.Content("~/Images/no-image.png");
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type.Name)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.Vehicle.ImagePath) *@
            Image
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.Vehicle.ImagePath == null || Model.Vehicle.ImagePath == string.Empty)
                {
                    <img src="@defaultImage" style="height: 6rem" />
                }
                else
                {
                    <img src="@Model.Vehicle.ImagePath" style="height: 6rem" />
                }
            }
        </dd>
        @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.ImageMime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.ImageMime)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Vehicle.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
