@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
    var defaultImage = Url.Content("~/Images/no-image.png");
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles.Items[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles.Items[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles.Items[0].Cost)
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Vehicles.Items[0].TypeId) *@
                Type
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Vehicles.Items[0].ImagePath) *@
                Image
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Vehicles.Items[0].ImageMime)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Vehicles.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.TypeId) *@
                @Html.DisplayFor(modelItem => modelItem.Types.FirstOrDefault(t => t.Id == item.TypeId).Name)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.ImagePath) *@
                    @{
                        if (item.ImagePath == null || item.ImagePath == string.Empty)
                        {
                            <img src="@defaultImage" style="height: 6rem" />
                        }
                        else{
                            <img src="@item.ImagePath" style="height: 6rem" />
                        }
                    }
                    
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.ImageMime)
            </td> *@
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
        
    </tbody>
    
</table>
<nav aria-label="Page navigation example">
    @* <ul class="pagination">
        <li class="page-item">
            <a class="page-link"
               aria-label="Previous"
               asp-page="Index"
               asp-route-vehicleType="@null"
               asp-route-pageNo="@((Model.Vehicles.CurrentPage == 1) ? 1 : Model.Vehicles.CurrentPage - 1)">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @foreach (var item in Enumerable.Range(1, Model.Vehicles.TotalPages))
        {
            <li class="page-item @((item == Model.Vehicles.CurrentPage) ? "active" : "")">
                <a class="page-link"
                   asp-page="Index"
                   asp-route-vehicleType="@null"
                   asp-route-pageNo="@item">@item</a>
            </li>
        }
        <li class="page-item">
            <a class="page-link"
               aria-label="Next"
               asp-page="Index"
               asp-route-vehicleType="@null"
               asp-route-pageNo="@((Model.Vehicles.CurrentPage == Model.Vehicles.TotalPages) ? Model.Vehicles.TotalPages : Model.Vehicles.CurrentPage + 1)">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul> *@
    <pager current-page="@Model.Vehicles.CurrentPage"
        total-pages="@Model.Vehicles.TotalPages"
        admin="true">

    </pager>
</nav>
