@model WEB_253504_Novikov.Domain.Models.CatalogModel

@{
    Layout = "_Layout";
}

@functions{
    public string GetReturnUrl()
    {
        var request = ViewContext.HttpContext.Request;
        var returnUrl = request.Path + request.QueryString.ToUriComponent();
        return returnUrl;
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VehicleCatalog</title>
</head>
<body>
    <!-- выбор категории -->
    <div class="col-2 border-2">
        <ul class="nav ">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   data-bs-toggle="dropdown"
                   role="button"
                   aria-expanded="false">
                    @ViewData["currentVehicleType"]
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item"
                           asp-controller="VehicleCatalog"
                           asp-route-vehicleType=@null>¬се</a>
                    </li>
                    @foreach (var item in Model.CategoriesResponse.Data)
                    {
                        <li>
                            <a class="dropdown-item"
                               asp-controller="VehicleCatalog"
                               asp-action="Index"
                               asp-route-vehicleType="@item.NormalizedName">
                                @item.Name
                            </a>
                        </li>
                    }
                </ul>
            </li>
        </ul>
    </div><!-- выбор категории -->
    <div class="d-flex flex-wrap">
        @foreach (var item in Model.ProductsResponse.Data.Items)
        {
            <div class="card m-2" style="width: 20rem; height: 26rem">
                <img src="@item.ImagePath" class="card-img-top" style="height: 12rem; object-fit: cover">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text">@item.Cost</p>
                </div>
                <div class="card-footer d-flex justify-content-center">
                <a class="btn btn-primary" asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" asp-route-returnurl="@GetReturnUrl()">Add to cart</a>
                </div>
            </div>
        }
    </div>
    @await Component.InvokeAsync("PaginationComponent", 
    new PaginationModel
    {
        CurrentVehicleTypeNormalizedName = ViewData["currentVehicleTypeNormalized"] as string,
        CurrentPage = Model.ProductsResponse.Data.CurrentPage,
        TotalPages = Model.ProductsResponse.Data.TotalPages
    })
</body>
</html>
